@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('<link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#map {
  height:500px;
  width: 100%;
  margin: 10px auto 0 auto;
}

.uploaded-image {
  width: 300px;
} 

.nav-title {
  font-family: "Roboto Mono", sans-serif;
}

body {
font-family: "Josefin Sans", sans-serif;
}

h1, h2 {
  font-family: "Roboto Mono", sans-serif;
  }

img {
  max-width: 345px;
}
/* All the forms!! */
.form-field {
  border-radius: 4;
  position: 'relative';
  background-color: white;
  border: '1px solid #ced4da';
  font-size: 16;
  width: 'auto';
  padding: '10px 12px';
  /* box-shadow: 1px 3px; */
  
}

.formgrid {
  line-height: 10px;
  border: 1px double #808080;
  padding: 20px;
}

label {
  font-family: "Josefin Sans", sans-serif;
  margin-top: 15px;
}

.tooltiptext {
  font-family: "Josefin Sans", sans-serif;
}
