.top-header {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}

.icon {
    height: 125px;
    width: 125px;
    margin: 40px 20px;
}

h1.nav-title {
    font-size: 50px;
    margin-top: 75px;
    color: #505050
}

ul.nav-links {
    /* display: flex;
    flex-direction: row;
    justify-content: end; */
    list-style: none;
}
a.nav-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 0px;
    background-color: #808080;
    color: ghostwhite;
    text-decoration: none;
}

/* a.nav-link: hover {
    cursor: pointer
} */