.top-header {
    display: flex;
    flex-direction: row;
    background-color: #505050;
    /* justify-content: center; */
}

.icon {
    width: 15%;
    margin: 40px 20px;
}

h1 {
    font-size: 100px;
}