.whole-header {
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 

}

.top-header {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}

.icon {
    height: 100px;
    width: 100px;
    margin: 10px 15px;
}

h1.nav-title {
    font-size: 60px;
    font-weight: 500;
    margin-top: 25px;
    color: #505050
}

/* box with nav links */
.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    /* background-color:  #909090; */
    /* background-color: #BFA3A8; */
    /* background-color:#DEBDC3; */
    /* background-color: #d98997;*/

    /* background-color: #dba2ad; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    text-transform: uppercase;
    margin-top: 30px;
}

/* each link in nav bar */
a.nav-link {
    margin-top: 0px;
    /* background-color: #909090; */
    /* color: ghostwhite; */
    color: #505050;
    text-decoration: none;
    font-family: "Roboto Mono", sans-serif;
    font-size: 30px;
    padding: 8px 20px;
    
}

a.nav-link:hover {
    background-color: #dba2ad;
    border-radius: 3px;
    color: ghostwhite;
    transition: color 170ms ease-in-out, background-color 170ms ease-in-out;
}

/* a.nav-link: hover {
    cursor: pointer
} */

